---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=0eeaf613&app_key=28de2ca9478e80010f2815e4e48af51c&cuisineType=United%20States%20of%20America&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 05 Aug 2023 14:54:46 GMT
recorded_with: VCR 6.2.0
