---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - Hide_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1a9110ad-d0a3-4093-819e-d2c3a8d7818a
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JUj03GI4vHcFa6g=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 257.02, "aqi": 2}, "NO2": {"concentration":
        10.63, "aqi": 13}, "O3": {"concentration": 18.24, "aqi": 15}, "SO2": {"concentration":
        1.46, "aqi": 2}, "PM2.5": {"concentration": 8.44, "aqi": 27}, "PM10": {"concentration":
        12.57, "aqi": 11}, "overall_aqi": 27}'
  recorded_at: Tue, 08 Aug 2023 03:15:30 GMT
recorded_with: VCR 6.2.0
