---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - Hide_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6b99d41b-a760-4713-a0ec-769b2824b3c9
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JUYcfGZKvHcFnPQ=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 260.35, "aqi": 2}, "NO2": {"concentration":
        11.31, "aqi": 14}, "O3": {"concentration": 16.63, "aqi": 14}, "SO2": {"concentration":
        1.39, "aqi": 2}, "PM2.5": {"concentration": 8.03, "aqi": 26}, "PM10": {"concentration":
        11.73, "aqi": 10}, "overall_aqi": 26}'
  recorded_at: Tue, 08 Aug 2023 01:57:49 GMT
recorded_with: VCR 6.2.0
